/* Structure */
#contact-content {
    padding: 10px;
    margin: 10px;
    line-height: 22px;
}

#contact-content h1 {
    text-align: center;
    font-size: 32px;
}

.contact-img {
    border-radius: 10px;
    width: 450px;
    height: 200px;
    max-width: 100%;
    max-height: 300px;
}

/* Media Queries */
/* Apply to 600px and larger */
@media only screen and (min-width: 600px) {
    #content {
        width: 70%;
        margin: auto;
    }

    .columns {
        display: flex;
        flex-direction: row;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    .four {
        flex: 4;
    }

    #main-nav li {
        flex: 0;
    }

    .contact-img {
        width: auto;
        height: auto;
    }
    
    .hidden-small {
        display: flex;
    }
}